.app[data-theme="light"] {
  --bg-color-primary: #f9fafb;
  --bg-color-secondary: white;
  --color-primary: black;
  --color-secondary: #575767;
  --placeholder-color: rgb(87, 87, 103, 0.5);
  --inputs-border-color: #b0b1b3;
  --theme-switch-opacity: 0.3;
  --active-tag-opacity: 0.5;
  --on-drag-over-filter: contrast(80%);
}
.app[data-theme="dark"] {
  --bg-color-primary: #1e1f25;
  --bg-color-secondary: #29292f;
  --color-primary: white;
  --color-secondary: rgb(218, 218, 218);
  --placeholder-color: rgb(218, 218, 218, 0.5);
  --inputs-border-color: #b0b1b3;
  --theme-switch-opacity: 0.6;
  --active-tag-opacity: 0.6;
  --on-drag-over-filter: contrast(40%);
}

.app {
  width: 100%;
  min-height: 100dvh;
  padding: 2.1875rem 0;
  background-color: var(--bg-color-primary);
  font-family: "Inter";
  font-style: normal;
  transition: background-color 250ms ease;
}

.app * {
  transition: background-color 250ms ease;
}

.app__logo {
  margin-bottom: 2.5rem;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 5.4375rem;
  text-align: center;
  color: #e2e8f0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.app__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.125rem;
  margin-inline: auto;
}

.app__add-todo {
  width: 3rem;
  height: 3rem;
  background-image: url("./assets/icons/add.svg");
  background-size: cover;
}

.app__add-todo:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 320px) {
  .app__wrapper {
    width: 85%;
  }
}

@media screen and (min-width: 768px) {
  .app__wrapper {
    width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .app__wrapper {
    width: 45%;
  }
}

@media screen and (min-width: 1440px) {
  .app__wrapper {
    width: 35%;
  }
}
